In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

plt.style.use('ggplot')

In [2]:
import pyspark
sc = pyspark.SparkContext(appName="myAppName")
spark = (pyspark.sql.SparkSession
         .builder        
         .appName('myAppName')
         .getOrCreate()
        )

In [3]:
def transform_to_df(path, sep_input="\t"):
    return spark.read.csv(path,
                         header=True,       # use headers or not
                         quote='"',         # char for quotes
                         sep=sep_input,           # char for separation
                         inferSchema=True)  # do we infer schema or not ?

In [4]:
actors_name= transform_to_df("actors_name.csv")

In [5]:
actors_name.head()

Row(0='David A. R. White')

In [6]:
actors_name.printSchema()

root
 |-- 0: string (nullable = true)

In [19]:
from pyspark.sql.functions import col

actors_name_1 = actors_name.select(col("0").alias("name"))
actors_name_1.printSchema()

root
 |-- name: string (nullable = true)

In [9]:
name_basics = transform_to_df("IMDb_datasets/name.basics.tsv")

In [10]:
name_basics.printSchema()

root
 |-- nconst: string (nullable = true)
 |-- primaryName: string (nullable = true)
 |-- birthYear: string (nullable = true)
 |-- deathYear: string (nullable = true)
 |-- primaryProfession: string (nullable = true)
 |-- knownForTitles: string (nullable = true)

In [11]:
name_basics.show(5)

+---------+---------------+---------+---------+--------------------+--------------------+
|   nconst|    primaryName|birthYear|deathYear|   primaryProfession|      knownForTitles|
+---------+---------------+---------+---------+--------------------+--------------------+
|nm0000001|   Fred Astaire|     1899|     1987|soundtrack,actor,...|tt0072308,tt00504...|
|nm0000002|  Lauren Bacall|     1924|     2014|  actress,soundtrack|tt0071877,tt01170...|
|nm0000003|Brigitte Bardot|     1934|       \N|actress,soundtrac...|tt0049189,tt00573...|
|nm0000004|   John Belushi|     1949|     1982|actor,writer,soun...|tt0078723,tt00779...|
|nm0000005| Ingmar Bergman|     1918|     2007|writer,director,a...|tt0050976,tt00839...|
+---------+---------------+---------+---------+--------------------+--------------------+
only showing top 5 rows

In [20]:
actors_name_1.show(5)

+-----------------+
|             name|
+-----------------+
|David A. R. White|
|     Lonnie Colon|
|      Brad Heller|
|      Logan White|
|     Monte Perlin|
+-----------------+
only showing top 5 rows

In [ ]:
actors_name.

In [21]:
name_basics.registerTempTable("name_basics_t")
actors_name_1.registerTempTable("actors_name_t")

In [ ]:
select 0

In [16]:
# temp_table = spark.sql(
# """
# SELECT a.main_nconst, n.0, a.birthYear, a.deathYear, a.primaryProfession, a.knownForTitles　FROM actors_name_t as n INNER JOIN　( SELECT DISTINCT nconst as main_nconst, primaryName, birthYear, deathYear, primaryProfession, knownForTitles FROM name_basics_t WHERE (primaryProfession LIKE '%actor%') or (primaryProfession LIKE '%actress%')) AS a　WHERE n.0 = a.primaryName
# """
# )

In [27]:
temp_table = spark.sql(
"""
SELECT * FROM actors_name_t INNER JOIN name_basics_t ON actors_name_t.name = name_basics_t.primaryName
"""
)

In [29]:
temp_table.show(5)

+-------------+---------+-------------+---------+---------+--------------------+--------------------+
|         name|   nconst|  primaryName|birthYear|deathYear|   primaryProfession|      knownForTitles|
+-------------+---------+-------------+---------+---------+--------------------+--------------------+
|Lauren Bacall|nm0000002|Lauren Bacall|     1924|     2014|  actress,soundtrack|tt0071877,tt01170...|
|Marlon Brando|nm0000008|Marlon Brando|     1924|     2004|actor,soundtrack,...|tt0047296,tt00787...|
|    Doris Day|nm0000013|    Doris Day|     1922|     2019|soundtrack,actres...|tt0048317,tt00531...|
|   James Dean|nm0000015|   James Dean|     1931|     1955| actor,miscellaneous|tt0045458,tt00480...|
| Kirk Douglas|nm0000018| Kirk Douglas|     1916|       \N|actor,producer,so...|tt0080736,tt00523...|
+-------------+---------+-------------+---------+---------+--------------------+--------------------+
only showing top 5 rows

In [30]:
temp_pd = temp_table.toPandas()

In [31]:
temp_pd.shape

(265906, 7)

In [32]:
temp_table.registerTempTable("temp_table_t")

In [41]:
all_actor_actress_table = spark.sql(
"""
SELECT DISTINCT nconst as main_nconst, name, birthYear, deathYear, primaryProfession, knownForTitles  FROM temp_table_t WHERE ((primaryProfession LIKE '%actor%') or (primaryProfession LIKE '%actress%'))
"""
)

In [43]:
all_actor_actress_df = all_actor_actress_table.toPandas()

In [45]:
all_actor_actress_df.shape

(128816, 6)

In [68]:
all_actor_actress_df.head()

,main_nconst,name,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000623,Rene Russo,1954,\N,"actress,producer","tt0117438,tt0155267,tt2872718,tt0122151"
1,nm0000741,Tim Allen,1953,\N,"actor,producer,miscellaneous","tt0177789,tt0101120,tt0111070,tt0114709"
2,nm0001097,Charles Dance,1946,\N,"actor,director,writer","tt2084970,tt0280707,tt0944947,tt1374989"
3,nm0001107,Stacey Dash,1967,\N,actress,"tt0112697,tt0104897,tt0110971,tt0095662"
4,nm0001416,Catherine Keener,1959,\N,"actress,producer,casting_department","tt0120601,tt5052448,tt0405422,tt0379725"

In [65]:
all_actor_actress_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128816 entries, 0 to 128815
Data columns (total 6 columns):
main_nconst          128816 non-null object
name                 128816 non-null object
birthYear            128816 non-null object
deathYear            128816 non-null object
primaryProfession    128816 non-null object
knownForTitles       128816 non-null object
dtypes: object(6)
memory usage: 5.9+ MB

In [69]:
all_actor_actress_df['name'].isnull().value_counts()

False    128816
Name: main_nconst, dtype: int64

In [ ]:
df2=df2.drop(cols,axis=1)

In [82]:
all_actor_actress_df['name'].nunique()

71135

In [72]:
all_actor_actress_df.to_csv("all_actor_actress_name.csv",index=False)

In [61]:
part_actor_actress_df = all_actor_actress_df.where( all_actor_actress_df['birthYear'].astype > '1919')

In [62]:
part_actor_actress_df.shape

(128816, 6)

In [80]:
a = all_actor_actress_df.where( all_actor_actress_df['birthYear'] > '1960')

,main_nconst,name,birthYear,deathYear,primaryProfession,knownForTitles
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,nm0001107,Stacey Dash,1967,\N,actress,"tt0112697,tt0104897,tt0110971,tt0095662"
4,NaN,NaN,NaN,NaN,NaN,NaN
5,nm0004731,Garcelle Beauvais,1966,\N,"actress,producer","tt2250912,tt3507138,tt1907668"
6,nm0004906,Peter Facinelli,1973,\N,"actor,director,producer","tt1190689,tt1324999,tt1099212,tt1673434"
7,nm0005070,Montell Jordan,1968,\N,"soundtrack,actor,composer","tt1596350,tt2461150,tt2719848,tt0117108"
8,nm0018234,Adriana Alexander,\N,\N,actress,"tt0248440,tt0115624,tt0452630"
9,nm0030918,Joseph Anthony,\N,\N,"actor,soundtrack,miscellaneous","tt0105932,tt0118713,tt1225901,tt1600194"
10,nm0035843,Neil Armstrong,\N,\N,"actor,writer,director","tt0398529,tt0140312,tt0279539,tt0289059"
11,nm0041282,Tessa Auberjonois,\N,\N,actress,"tt6965802,tt0337876,tt0108757,tt1266580"
12,nm0043931,Rakie Ayola,1968,\N,"actress,producer,soundtrack","tt1343727,tt6751482,tt1682886,tt3922704"
13,NaN,NaN,NaN,NaN,NaN,NaN
14,nm0051930,Vivian Bang,1973,\N,"actress,make_up_department,writer","tt5324116,tt7689950,tt2073664,tt1068680"
15,nm0065389,David Becker,\N,\N,actor,tt0084464
16,nm0065879,Elizabeth Beckwith,\N,\N,"actress,writer,director","tt2751140,tt0200550,tt5592146,tt1780849"
17,nm0071825,Jill Bennett,1975,\N,"actress,producer,director","tt1123894,tt0414731,tt1436295,tt6184686"
18,nm0085390,Laura Black,\N,\N,actress,"tt0138548,tt0165020,tt0344723,tt1331332"
19,nm0094221,Kristen Bone,\N,\N,"actress,soundtrack","tt0377092,tt0172049,tt0116908,tt0339593"
20,nm0103038,Jesse Bradford,1979,\N,"actor,director,producer","tt0100404,tt0283026,tt0204946,tt0107322"
21,nm0112638,Trev Broudy,1968,\N,"actor,producer","tt0285403,tt0837133,tt0245115,tt0814207"
22,NaN,NaN,NaN,NaN,NaN,NaN
23,nm0116737,Cory Brusseau,\N,\N,"editorial_department,actor,miscellaneous","tt7549776,tt4250936,tt0816530,tt3685624"
24,nm0122604,Brian Burns,\N,\N,actor,"tt0096757,tt0313984"
25,nm0123779,Clemency Burton-Hill,1981,\N,actress,"tt0941993,tt0847147,tt0379632,tt0341855"
26,nm0146941,Patrick Cavanaugh,\N,\N,"actor,director,writer","tt2364582,tt6432722,tt0804503,tt3878542"
27,nm0153963,Chastity,\N,\N,actress,"tt0163898,tt0481504"
28,nm0155726,Dmitry Chepovetsky,1970,\N,actor,"tt0267626,tt0483726,tt1229238,tt1245526"
29,nm0168892,Scott Coffey,1964,\N,"actor,director,writer","tt0436262,tt0094006,tt0114614,tt0116922"
...,...,...,...,...,...,...
128786,nm8955397,Ben Sheppard,\N,\N,actor,tt6768824
128787,nm9015665,Trevor Cooper,\N,\N,"actor,art_department,miscellaneous","tt1571234,tt0116365"
128788,nm9069854,Paul James,\N,\N,actor,tt7025258
128789,nm9089499,Sadie Jones,\N,\N,actor,tt7061902
128790,nm9095627,Joshua Adams,\N,\N,actor,tt5765640
128791,nm9097599,Rob Daly,\N,\N,actor,tt7077828
128792,nm9277103,Travis Clark,\N,\N,actor,tt7380492
128793,nm9283891,Erin Fleming,\N,\N,"actress,visual_effects",tt6992854
128794,nm9299669,Michael Morgan,\N,\N,"actor,animation_department","tt7422602,tt0457457"
128795,nm9349805,Megan Gallagher,\N,\N,actress,tt7467702
128796,nm9360695,Russell Hornsby,\N,\N,actor,"tt9828116,tt8144860,tt3336370,tt7533694"
128797,nm9385417,Elizabeth Smith,\N,\N,actress,tt7580076
128798,nm9407368,Charles Frederick,\N,\N,actor,"tt8236412,tt7616058"
128799,nm9495537,Alex Thomas,\N,\N,actor,\N
128800,nm9498787,Cindy Lopez,\N,\N,actor,\N
128801,nm9505597,Fernando Duran,\N,\N,actor,\N
128802,nm9607128,Lauren Bond,\N,\N,actress,\N
128803,nm9609317,Julia Parker,\N,\N,actress,"tt5287942,tt6211130,tt6484124"
128804,nm9622524,Dennis Bateman,\N,\N,actor,\N
128805,nm9646469,Brandon Scott,\N,\N,actor,\N
128806,nm9747681,Noah Taylor,\N,\N,actor,\N
128807,nm9761626,Scott Morgan,\N,\N,"actor,writer,director","tt8258450,tt9140810,tt9140340,tt9139132"
128808,nm9823820,Matthew Smith,\N,\N,actor,\N
128809,nm9835036,D.J.,\N,\N,actor,tt7683588
128810,nm9858482,Paul Smith,\N,\N,actor,\N
128811,nm9892800,Andrew Phillips,\N,\N,actor,tt8525124
128812,nm9911379,Terry Taylor,\N,\N,actor,tt0331083
128813,nm9914667,Michael Scott,\N,\N,actor,\N
128814,nm9955132,Scott Taylor,\N,\N,actor,tt8655738
128815,nm9956777,Greg Brown,\N,\N,actor,\N

In [81]:
a['main_nconst'].isnull().value_counts()

False    121050
True       7766
Name: main_nconst, dtype: int64